# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore cache files
*.cache

# Ignore macOS-specific files
.DS_Store

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Visual Studio Code project files
.vscode/

# Ignore Windows-specific files
Thumbs.db

# Ignore GitBook-specific files
_book/

# Ignore npm-debug.log file
npm-debug.log

# Ignore yarn-debug.log file
yarn-debug.log

# Ignore yarn-error.log file
yarn-error.log