
*{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
/* client section start */

.client_section {
    width: 100%;
    float: left;
    background-image: url(../../assets/images/client-bg.png);
    height: auto;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.client_left {
    width: 20%;
    float: left;
    padding-left: 50px;
}

.client_img {
    width: 90%;
}

.client_right {
    width: 80%;
    float: left;
    padding-top: 20px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #3b3b3b;
    font-weight: bold;
}

.client_text {
    width: 75%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
}


/* client section end */