.header_section {
    width: 100%;
    float: left;
    background-image: url(../../assets/images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header_bg {
    width: 100%;
    float: left;
    background-image: url(../../assets/images/header-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header_bg .navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 17px;
    color: #a9a8a8;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #4c4c4c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #4c4c4c;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar {
    padding: 15px 50px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #d98473;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #4c4c4c;
}

.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px 100px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}

.banner_taital {
    width: 100%;
    font-size: 90px;
    color: #252525;
    font-weight: 800;
}

.navbar-form input {
    border: none !important;
}




@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    .search_bt {
        width: 100%;
        text-align: center;
    }
}